@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Inter:wght@400;700&family=Kanit&family=Pacifico&family=Sono&display=swap");

html,
body {
  font-family: "Alkatra";
  background-color: #a0c3d2;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #a0c3d2, #d8b6a4);
  color: #fff1dc;
}

input[type="button"],
.btn {
  cursor: pointer;
  font-family: Raleway;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 400px;
  padding: 1em;
  text-align: center;
}

.container .grid-3 {
  width: 24.999%;
}

/* change the color of the letters */
.data {
  display: inline-block;
  max-width: 100px;
  min-width: 1em;
  padding: 30px;
  margin: 0.12em;
  background-color: #e9edc9;
  border: 10px #eae0da solid;
  border-radius: 10px;
  color: #443c68;
  font-weight: 700;
  font-size: 30px;
  font-style: bold;
}

/* free space */
table tr:nth-child(3) td:nth-child(3) {
  max-width: 25px;
  color: #000;
  padding: 30px;
  margin: 0.12em;
  font-size: 30px;
  text-align: center;
}

/* center the text for the <h1> with class 'title' */
.title {
  text-align: center;
  color: #443c68;
  font-size: 50px;
}

/* add a collapsed border for the <table> */
table {
  border: 1px #222436 solid;
  border-collapse: collapse;
}

/* add a border for the <td> */
td {
  border: 3px #222436 solid;
}
